{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Forecast - Alert!</title>
	
	<link rel="stylesheet" type="text/css" href="{% static 'weather/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'weather/css/style.css' %}" />

</head>
<body>
	<!-- Search bar -->
  <div id="search" class="container">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Hamburger_icon.svg/1024px-Hamburger_icon.svg.png" style="float:left">
    <img src="https://puu.sh/DN4dH/51cf7f482c.png" style="float:right">
    <h2>Oakland, CA</h2>
  </div>
  <!-- Navigation bar -->
  <div class="container">
    <div class="row">
      <div class="col nav" id="selected">
        <h4><a href="#">Today</a></h4>
      </div>
      <div class="col nav">
        <h4><a href="#">Compare</a></h4>
      </div>
    </div>
  </div>
  <!-- Current weather -->
  <div id="current" class="container">
    <p class="date">June 30 3:00PM</p>
    <img class="weathericon" src="https://puu.sh/DN3zZ/9b8aae4f64.png">
    <p class="temperature">40</p>
    <h3>↑41° ↓21°</h3>
    <img src="https://puu.sh/DN0mp/dca68e9bd9.png" style="width:80px;margin-top:5%">
  </div>
  <!-- Hourly forecast -->
  <div id="hourly" class="container">
    <div class="row align-items-start">
      <div class="col">
        <h3 class="hour">3pm</h3>
        <img class="weathericon" src="https://puu.sh/DN3zZ/9b8aae4f64.png">
      </div>
      <div class="col">
        <h3 class="hour">4pm</h3>
        <img class="weathericon" src="https://puu.sh/DN3zZ/9b8aae4f64.png">
      </div>
      <div class="col">
        <h3 class="hour">5pm</h3>
        <img class="weathericon" src="https://puu.sh/DN3Ar/e0f46b5b47.png">
      </div>
      <div class="col">
        <h3 class="hour">6pm</h3>
        <img class="weathericon" src="https://puu.sh/DN3Ar/e0f46b5b47.png">
      </div>
      <div class="col">
        <h3 class="hour">7pm</h3>
        <img class="weathericon" src="https://puu.sh/DN3AD/c212eed376.png">
      </div>
      <div class="col">
        <h3 class="hour">8pm</h3>
        <img class="weathericon" src="https://puu.sh/DN3AD/c212eed376.png">
      </div>
    </div>
    <div class="row align-items-end">
      <div class="col">
        <p class="temperature">40</p>
      </div>
      <div class="col">
        <p class="temperature">38</p>
      </div>
      <div class="col">
        <p class="temperature">37</p>
      </div>
      <div class="col">
        <p class="temperature">35</p>
      </div>
      <div class="col">
        <p class="temperature">34</p>
      </div>
      <div class="col">
        <p class="temperature">32</p>
      </div>
    </div>
  </div>
</body>
</html>





